* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.btn {
  background-color: #248ea9;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 8px;
  width: 20%;
  align-self: center;
}
.container {
  font-family: "raleway";
  width: 100%;
  padding: 2em;
  background: -webkit-linear-gradient(90deg, #fafdcb, #aee7e8);
  background: linear-gradient(90deg, #fafdcb, #aee7e8);
}
.container header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5em;
}
.container .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #fafdcb, #aee7e8, #28c3d4, #248ea9);
  height: 4em;
  width: 65%;
  margin: auto;
}
.container .navbar li {
  list-style: none;
}
.container .navbar li a {
  text-decoration: none;
  color: black;
  margin: 1em;
  border: 2px solid #248ea9;
  border-radius: 8px;
  padding: 0.4em;
}
.container .navbar li a:hover {
  background-color: #248ea9;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.container .main {
  width: 65%;
  margin: auto;
  background-color: white;
  padding: 1.5em;
}
.container .main .helping-daily-box {
  display: flex;
  flex-direction: column;
  padding: 2em;
}
.container .main .helping-daily-box .helping-daily-text {
  margin-bottom: 1.5em;
}
.container .main .helping-daily-box .btn {
  background-color: #248ea9;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 8px;
  width: 20%;
  align-self: center;
}
.container .main .helping-daily-box .btn:hover {
  background-color: #fafdcb;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.container .main .helping-daily-box .phone-call {
  width: 45%;
  height: auto;
  align-self: center;
  margin-bottom: 1.5em;
}
.container .main .showcase {
  display: flex;
  justify-content: center;
  padding: 2em;
}
.container .main .showcase .growth {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  background: #28c3d4;
}
.container .main .showcase .growth p {
  border: 2px solid black;
  padding: 1em;
  width: 275px;
}
.container .main .showcase .growth h3 {
  margin-bottom: 1.5em;
}
.container .main .showcase .network {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  background: #28c3d4;
}
.container .main .showcase .network p {
  border: 2px solid black;
  padding: 1em;
  width: 275px;
}
.container .main .showcase .network h3 {
  margin-bottom: 1.5em;
}
.container .main .showcase .application {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  background: #248ea9;
}
.container .main .showcase .application p {
  border: 2px dashed black;
  padding: 1em;
  width: 275px;
}
.container .main .showcase .application h3 {
  margin-bottom: 1.5em;
}
.container .main p {
  text-align: center;
  margin-top: 1em;
}
