// Variables

// Color pointers


// Color variables
@light-yellow: #fafdcb;
@light-blue: #aee7e8;
@bright-blue: #28c3d4;
@dark-blue: #248ea9;

// Tablet mobile variables
@desk-l: ~"(max-width: 1400px)";
@desk-m: ~"(max-width: 1200px)";
@desk-s: ~"(max-width: 1100px)";
@tablet: ~"(max-width: 800px)";
@phone: ~"(max-width: 500px)";